/* myStyle.css */

body {
text-align: center;
font-family: "Lucida Console", Monaco, monospace;
background-image: url("brown.jpg");
background-attachment: fixed;
background-position: center center;
background-size: cover;
color: black;
}
/* mouse over link */
a:hover {
  color: hotpink;
}
.links{
height:32px;
width=:32px;
padding:30px;

}

.bio{
font-size: 16px;
position: center;
}

.details{
  font-size: 16px;
  position: center;
}

.skills{
display:grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 20px;
background-color: #fff ;
margin-left: 20px;
margin-right: 20px;
position: center;

}

.skillImage{
  width: 100px;
  height:100px;
  position: center;
}

.item {
  background-color: #81B622;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  position: center;
}



.email{
  color:white;

  top:50%;
  left:50%;
  height:200x;
  width:300px;
  margin-left: -150px;
  margin-top: 95px;
  position: center;

}

.container{
  background-color: white;
  left: 50%;
  position: relative;
  width: 950px;
  margin-left: -475px;
  
}

.contact{
  margin-top: 20px;
  position: center;
}

/*button style*/
.buttonPDF {
  background-color: #81B622;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  top:50%;
  left:50%;
  height:25x;
  width:300px;
  margin-left: 5px;
  margin-top: 0;

}

.buttonWord {
  background-color: #81B622;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  top:50%;
  left:50%;
  height:25x;
  width:300px;
  margin-left: 5px;
  margin-top: -10;
}

.resumeImage{
  width:100px;
  height:100px;
  float:center;
  margin-top: 50px;
  margin-left: -150px;
}
