/* myStyle.css */
body {
text-align: center;
font-family: "Lucida Console", Monaco, monospace;
background-color: darkgrey;
font-size: 20px;
}
/* mouse over link */
a:hover {
  color: hotpink;
}
/*navBar links*/
.navBar{
background-color: darkgrey;
word-spacing: 100px;

}
.top-container{

}
div{
  display: block;
}
.middle-container{
  background-color: white;
}
.bottom-container{
font-size: 10px;
}
.skill-row{
  width:50%;
  margin:100px auto 100px auto;
    margin-top: 100px;
    margin-right: auto;
    margin-bottom: 200px;
    margin-left: auto;
  text-align: left;
}
.left-icon{
float: left;
margin-right:30px;
width: 170px;

}
h1{

}
.navLink{
text-decoration: none;
display: inline;
color: white;
}
/*bio style*/
.bio{
width:50%;
  margin:100px auto 100px auto;
    margin-top: 100px;
    margin-right: auto;
    margin-bottom: 100px;
    margin-left: auto;
text-align:center;
}
/*algorithm icon*/
.algorithm{
border-radius: 25px;
 padding: 30px;
 width: 150px;
 height: 150px;
}
/*coffee*/
.coffee{
  width:200px;
  height:auto;
  margin-top: 40px;
}
/*email icon*/
.email{
  width:20px;
  height:auto;
}
/*button style*/
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button {border-radius: 12px;}
