/* myStyle.css */

body {
text-align: center;
font-family: "Lucida Console", Monaco, monospace;
background-image: url("eevee.png");
color: black;
}
/* mouse over link */
a:hover {
  color: hotpink;
}
.links{
height:32px;
width=:32px;
padding:30px;

}

.bio{
font-size: 20px;
}

.details{
  font-size: 16px;
}

.skills{
display:grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 20px;
background-color: #fff ;
margin-left: 20px;
margin-right: 20px;

}

.skillImage{
  width: 100px;
  height:100px;
}

.item {
  background-color: #81B622;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}



.email{
  color:white;
  position: absolute;
  top:50%;
  left:50%;
  height:200x;
  width:300px;
  margin-left: -150px;
  margin-top: 95px;

}

.container{
  background-color: white;
  top: 50%;
  left: 50%;
  bottom: 50%;
  position: absolute;
  height: 1290px;
  width: 700px;
  margin-left: -350px;
  margin-top: -300px;


}

.contact{
  margin-top: 50px;
}

/*button style*/
.buttonPDF {
  background-color: #81B622;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  top:50%;
  left:50%;
  height:25x;
  width:300px;
  margin-left: 5px;
  margin-top: 370px;

}

.buttonWord {
  background-color: #81B622;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  top:50%;
  left:50%;
  height:100x;
  width:200px;
  margin-left: 50px;
  margin-top: 300px;
}

.resumeImage{
  width:100px;
  height:100px;
  float:center;
  margin-top: 40px;
  margin-left: -150px;
}
